@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    padding-top: 30px;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    padding-top: 15px;
}

h3 {
    text-align: center;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    padding-top: 0px;
}

p {
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.hero {
    height: 80vh;
    background: url('img/elle.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffffe9;
}

.hero-text h1 {
    font-size: 44px;
    font-weight: 600;
}

.hero-text p {
    font-size: 18px;
}

.btn {
    background: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}



.sections {
    font-family: 'Playfair Display', serif;
    background-color: #f9f9f9;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}


.section {
     margin-bottom: 50px;
}
    
.section h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
 }

 .footer {
    text-align: center;
    padding: 10px;
    font-size: 5px;
    border-top: 1px solid #ddd;
}